<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
   
    <add name="EShoppingDBConnectionString2" connectionString="Data Source=user-PC;Initial Catalog=EShoppingDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <trace enabled="true"/>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms defaultUrl="Homepage.aspx" loginUrl="login.aspx"></forms>
    </authentication>
    
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>